@{
    ViewData["Title"] = "Home Page";
}

<!-- Slider Start -->
<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animated fadeInUp">Get Your Life <br /> Back on Track</h1>
                    <p class="animated fadeInUp"></p>
                    <a asp-controller="Home" asp-action="TaskApplication" target="_blank" class="btn btn-main animated fadeInUp">Submit a New Task</a>
                </div>
            </div>
        </div>
    </div>
</section>

